@use './variable.scss' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
  margin: 0 !important;
  padding: 0;
  font-size: 15px;
  color: var(--color-font);
  font-family: "Roboto", serif !important;
}
.ant-btn-primary {
  background: var(--color-primary-dark) !important;
  border-color: var(--color-primary-dark) !important;
  color: var(--color-font) !important;
}
.ant-btn-primary:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.ant-btn {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: var(--color-font);
  &.ant-btn-link {
    color: #4caf50 ;
    span {
      text-decoration: underline;
    }
  }
}
div,
li,
span,
p,
.ant-col,
.ant-row {
  font-family: 'Noto Sans JP', sans-serif;
}

.main-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  img {
    max-width: 200px;
    -webkit-animation: zoomIn 0.5s infinite;
    animation: zoomIn 0.5s infinite;
  }

  span {
    position: relative;
    z-index: 1;
    margin-top: -20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.ant-modal-content {
  padding: 0 !important;
  .ant-modal-close-x {
    color: var(--color-font);
  }
  .ant-modal-header {
    background: var(--color-primary-dark) !important;
    padding: 15px 25px !important;
    .ant-modal-title {
      color: var(--color-font);
    }
  }
  .ant-modal-body {
    padding: 15px 25px !important;
  }
}
.btn {
  border-radius: 10px;
  background-color: var(--color-primary);
  font-weight: 600;
}
.disable-btn {
  opacity: 0.5;
  background-color: var(--color-disable) !important;
  border-color: var(--color-disable) !important;
  pointer-events: none;
}
.en-validation {
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    font-size: 12px;
    color: var(--color-white);
    content: 'MANDATORY' !important;
    background-color: var(--color-mandatory);
    border-radius: 5px;
    padding: 4px 5px;
    margin: 0 8px 0 0px;
  }
  .ant-form-item-label > label::before,
  b::before {
    font-size: 12px;
    color: var(--color-white);
    content: 'MANDATORY' !important;
    background-color: var(--color-mandatory);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 8px 0 0px;
  }
}
.jp-validation {
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    font-size: 12px;
    color: var(--color-white);
    content: '必須' !important;
    background-color: var(--color-mandatory);
    border-radius: 5px;
    padding: 4px 5px;
    margin: 0 8px 0 0px;
  }
  .ant-form-item-label > label::before,
  b::before {
    font-size: 12px;
    color: var(--color-white);
    content: '必須' !important;
    background-color: var(--color-mandatory);
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 8px 0 0px;
  }
}
// .ant-form-item-label {
//   padding: 0 0 2px !important;
// }
.ant-form-item-label {
  padding: 0 0 2px 10px !important;
  // padding-left: 10px;
  margin-top: 8px;
  margin-bottom: -5px;

  @media screen and (max-width: 767px) {
    margin: 0;
    padding-left: 0;
  }

  label {
    font-size: 85% !important;
  }
}
.ant-form-item-explain-error {
  font-size: 75%;
  padding-left: 8px;
  // position: absolute;
  // bottom: -20px;
}
.ant-form-item-explain.ant-form-item-explain-error {
  margin-bottom: 2px;
  color: var(--color-mandatory);
}
.submit-btn {
  font-size: 15px;
  border-radius: 10px;
  padding: 6px 25px;
  height: 38px;
}
.header-line {
  position: absolute;
  right: 24px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.confirmation-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.popup-content {
  img {
    width: 25px;
    height: 25px;
  }
}
.coll {
  font-size: 1em;
  padding: 2px;
}
.collapse-header {
  .ant-collapse-header {
    position: relative;
    background-color: var(--color-primary) !important;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 1.2em;
    padding: 5px 10px !important;
    .ant-collapse-header-text {
      color: #fff;
    }
  }
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  svg {
    color: #fff;
    height: 20px;
    width: 20px;
  }
}
.ant-btn-primary:disabled {
  background-color: rgb(182, 181, 181) !important;
  border-color: #d9d9d9 !important;
  &:hover {
    background-color: rgb(182, 181, 181);
    color: var(--color-font);
  }
}

.view-loader {
  left: 50%;
  top: 50%;
  z-index: 9999999;
  display: grid;
  margin: 50px 0;
}

.ant-tabs-nav:before {
  content: normal !important;
}

.ant-table-thead > tr > th {
  background-color: var(--color-primary-xlight) !important;
  &:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    background-color: var(--color-primary-light) !important;
  }
  &:before {
    content: normal !important;
  }
}

.page-title {
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
}

.img-td {
  min-width: 100px;
}
.warning-modal .ant-modal-content {
  background-color: var(--light-yellow);
  border: 2px solid var(--yellow);
}
.popup-heading {
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
}

.not-found {
  min-height: calc(100vh - 203px);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.not-found-img {
  svg {
    width: 70px;
    height: 70px;
  }
}

.opacity-loader {
  position: absolute;
  right: 0;
  top: 0;
  left: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  z-index: 9999;
}
.fixed-loader {
  position: fixed;
  z-index: 8;
}

.ant-menu-item-selected,
.ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: unset !important;
}

.tag-style {
  padding: 4px 15px;
  font-weight: bold;
  border-radius: 5px;
  min-width: 130px;
  border: none;
  box-shadow: 0 0 5px gray;
}

.white-color {
  color: #fff !important;
}

.black-color {
  color: black !important;
}

.ant-tabs {
  &.ant-tabs-centered {
    .ant-tabs-nav {
      .ant-tabs-nav-wrap {
        justify-content: inherit;
        .ant-tabs-nav-list {
          margin: 0 auto;
        }
      }
    }
  }
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--color-primary-xlight);
}

.form-btn {
  color: #fff !important;
}

.ant-modal .ant-form {
  background-color: white;
  box-shadow: none !important;
}