:root {
    --color-primary: #0179a8;
    --color-primary-dark: #0179a8;
    --color-primary-medium: #76bad5;
    --color-primary-light: #3686a0;
    --color-primary-xlight: #96cade;
    --color-primary-ylight: #f8ffef;
    --color-black: #000;
    --color-white: #fff;
    --color-mandatory: #ff4d4f;
    --color-red: #ff7171;
    --color-green: #92ca6d;
    --color-disable: #b8b8b8;
    --light-gray: #ddd;
    --primary-light-gray: #cdcdcd;
    --color-bg: rgb(255, 255, 255);
    --color-link: rgb(49, 61, 236);
    --light-yellow: #fffbe6;
    --yellow: #ffe58f;
    --color-font:#fff;
  }